In [1]:
import util

In [2]:
c = util.Preprocess(5)

In [3]:
a = c()

In [4]:
a

,songs,tags,id
0,"[0, 1, 2, 3, 4, 5, 6, 7]",[0],0
1,"[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...","[1, 2]",1
2,"[46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 5...","[3, 4]",2
3,"[74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 8...","[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]",3
4,"[111, 112, 113, 114, 115, 116, 117, 118, 119, ...",[15],4
5,"[163, 164, 165, 166, 167, 168, 169, 170, 171, ...","[16, 17, 18, 19, 20, 21, 22, 23, 24, 25]",5
6,"[187, 188, 189, 190, 191, 192, 193, 194, 195, ...","[26, 27, 28, 29, 30, 31]",6
7,"[225, 226, 227, 228, 229, 230, 231, 232, 233, ...","[4, 1, 2]",7
8,"[245, 246, 247, 248, 249, 250, 251, 252, 253, ...","[32, 33, 34, 0, 15, 35]",8
9,"[271, 272, 273, 274]","[36, 37, 38, 34, 39, 0]",9
10,"[275, 276, 277, 278, 279, 280, 281, 282, 283, ...","[40, 15, 41, 42]",10
11,"[430, 431, 432, 433, 434, 435, 436, 437, 438, ...","[43, 44, 45, 21, 46, 47, 48, 49, 50]",11
12,"[473, 474, 475, 476, 477, 478, 479, 480, 481, ...","[51, 20, 52]",12
13,"[488, 489, 490, 491, 492, 493, 494, 495, 496, ...","[53, 54, 55, 56, 57, 58, 17, 59, 60]",13
14,"[549, 550, 551, 552, 553, 554, 555]","[61, 62]",14
15,"[556, 557, 558, 559, 560, 561, 562, 563, 564, ...",[0],15
16,"[598, 599, 600, 601, 602, 603, 604, 605, 606, ...","[63, 64, 65, 18]",16
17,"[627, 628, 629, 630, 631, 75, 632, 633]","[66, 67, 30]",17
18,"[634, 635, 636, 637, 638, 639, 640, 190, 641, ...",[68],18
19,"[651, 652, 653, 654, 655, 656, 657, 658, 659, ...","[69, 70, 71]",19
20,"[667, 668, 669, 670, 671, 672, 673, 674, 675, ...","[72, 73, 74, 75, 76]",20
21,"[709, 710, 711, 712, 713, 714, 715, 716, 717, ...","[77, 62, 4]",21
22,"[719, 720, 721, 722, 723, 724, 725, 726, 727]",[78],22
23,"[728, 729, 730, 731, 732, 733, 734, 735, 736, ...",[15],23
24,"[483, 758, 759, 760, 761, 762, 763, 764, 765, ...","[63, 79, 4, 56, 80, 35, 55]",24
25,"[777, 778, 779, 780, 781, 782, 783, 784, 785, ...","[4, 55, 56]",25
26,"[813, 814, 815, 816, 817, 818, 819, 820, 821, ...","[20, 17, 81, 35, 44]",26
27,"[876, 877, 878, 879, 880, 881, 882, 883, 884, ...","[82, 27, 83, 84, 30, 85]",27
28,"[977, 978, 979, 213, 980, 981, 982, 983, 984, ...","[3, 67, 30]",28
29,"[996, 997, 998]","[53, 86, 87, 35, 88]",29
...,...,...,...
138056,"[19, 37860, 24464, 1999, 12842, 32011, 12964, ...",[],138056
138057,"[101012, 8625, 20645, 75047, 15004, 89897, 625...","[3149, 505, 20]",138057
138058,"[16876, 8778, 8333, 1959, 13126, 13991, 12791,...","[425, 55, 90, 30]",138058
138059,"[109151, 20342, 15810, 111008, 87260, 42413, 3...","[3323, 482, 2839]",138059
138060,"[13618, 112117, 52234, 73367, 88189, 4064, 175...",[21],138060
138061,"[11447, 17286, 12640, 9043, 4123, 1084, 39357,...","[842, 229, 18]",138061
138062,[],[],138062
138063,[],[30],138063
138064,"[18910, 55297, 3127, 55304, 37202, 16151, 2825...","[20, 56]",138064
138065,"[19482, 52571, 3400, 121530, 105696, 6046]","[217, 66]",138065
138066,"[35755, 6422, 2510, 89762]",[],138066
138067,[],[],138067
138068,"[1023, 118143, 14861, 28779, 1022, 96412, 8619...","[77, 44, 21, 96, 968]",138068
138069,"[46981, 8460, 122610, 80624, 1443, 121128, 119...",[24],138069
138070,"[70764, 20063, 10635, 63254, 3460, 131207, 478...",[],138070
138071,"[23548, 6370, 20420, 14229]",[],138071
138072,"[131380, 22193]","[1201, 725]",138072
138073,[],"[1487, 144, 2983, 542]",138073
138074,"[109657, 49489, 38451, 72696]",[],138074
138075,"[64105, 59513, 103742, 48243, 3372, 75189, 277...","[3755, 2660]",138075
138076,[],[246],138076
138077,"[1963, 41943, 106721, 13479, 13485, 4365, 9150...",[],138077
138078,"[39236, 16761, 85274, 102354, 29640]","[97, 33, 340, 287]",138078
138079,[],"[1163, 108, 30, 21, 1574]",138079
138080,"[658, 915, 4894, 1539, 13079, 660, 295, 296, 9...",[136],138080
138081,"[4624, 905, 7947, 1219, 6152, 1884, 111332, 16...",[4],138081
138082,"[114986, 69481, 16104, 23305, 2494, 8235, 7480...","[4103, 278, 1996, 376]",138082
138083,"[1228, 623, 2242, 2330, 1162, 7182, 601, 602, ...",[],138083
138084,"[2497, 54506, 26747, 113035, 58548, 54507, 33139]",[],138084
138085,"[11229, 3088, 8538, 14524, 6994, 3096, 3108, 5...",[],138085